<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body background="PINK">
    <form>
        <h1>REGISTER HERE:</h1>

        <div>
        <label for="">USERNAME:</label>
        <input type="text" placeholder="ENTER YOUR USERNAME">
    </div>

    <div>
        <label for="">PASSWORD:</label>
        <input type="text" placeholder="ENTER YOUR PASSWORD">
    </div>

        <label for="">EMAIL:</label>
        <input type="text" placeholder="ENTER YOUR EMAIL">
    </div>

    <div>
        <label for="">ENTER YOUR DATE OF BIRTH:</label>
        <input type="date" placeholder="DD/MM/YY">
    </div>
    <div>
        <label for="">GENDER:</label>
    </div>
    <div>
        <input type="RADIO" VALUE="MALE">
        <label for="">MALE</label>
        <input type="RADIO" VALUE="FEMALE">
        <label for="">FEMALE</label>
        <input type="RADIO" VALUE="OTHER">
        <label for="">OTHER</label>
    </div>
    <div>
        <label for="">LANGUAGES:</label>
    </div>
    <div>
        <input type="CHECKBOX" VALUE="TELUGU">
        <label for="">TELUGU</label>
        <input type="CHECKBOX" VALUE="ENGLISH">
        <label for="">ENGLISH</label>
        <input type="CHECKBOX" VALUE="HINDI">
        <label for="">HINDI</label>
    </div>
    <div>
        <label for ="COUNTRY">SELECT COUNTRY</label>
        <select name="country" id="name">
            <option value="-">SELECT A COUNTRY</option>
            <option value="India">India</option>
            <option value="Australia">Australia</option>
            <option value="England">England</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Submit">
    </div>
    </form>
        <p>Already have an account?</p>
        <a href="login">login</a>
    </body>
    </html>





      


        

        











    


    

        







</body>
</html>